.social {
	@extend %list;
	@include flex(center, center);
}

.social__item {
	margin: 0 10px 0 0;
}

.social__link {
	@include flex(center, center);
	color: var(--light-font);
	width: 44px;
	height: 44px;
	border-radius: 50px;
	background-color: $footer-soclink;
	transition: background-color 250ms $time-func, color 250ms $time-func;

	&:hover,
	&:active,
	&:focus {
		background-color: $accent-color;
		color: $light-font;
		outline: none;
	}
}
.social-links{
	@extend %list;
	@include flex();
	font-size: 18px;
	line-height: calc(22 / 18);
	color: $accent-color;
	margin: 0 -10px;
	@media screen and (min-width:768px) {
		display: none;
	}
}
.social-links__link{
	padding: 0 10px;
}
li:not(:last-child)>.social-links__link {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}