.header__container{
	@include flex(center, space-between);
}
.footer__container{
	@media screen and (min-width:768px) {
		@include flex();
		flex-wrap: wrap;
	}
	@media screen and (min-width:1200px){
		@include flex(center,space-between);
	}
}
.container{
	margin: 0 auto;
	padding: 0 15px;
	@media screen and (max-width:767px) {
		min-width: 320px;
		max-width: 480px;
	}
	@media screen and (min-width:768px) {
		width: 768px;
	}
	@media screen and (min-width:1200px) {
		width: 1200px;
	}
}