.contacts{
	@extend %list;
	margin: 0 -25px;
	@media (min-width:1200px){
		@include flex(center);
	}
}
.contacts__link{
	@extend %link;
	color: $contact-color;
	transition: color 250ms $time-func;
	&:hover, &:active, &:focus {
		color: $accent-color;
	}
	@media (min-width:1200px){
		@include flex(center);
	}
}
.contacts__icon{
	margin-right: 10px;
}
.contacts__item {
	margin: 0 25px;
}
.contacts__adress {
	color: $light-font;
}